<!DOCTYPE html>
<html>
<head>
    <title>Pyaterochki</title>
</head>
<body>
<h1>
    Pyatorochka list
</h1>

<ol itemscope itemtype="http://schema.org/ItemList">
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <meta itemprop="position" content="1"/>
        <div itemscope itemtype="https://schema.org/Store">
            <img itemscope itemprop="image" height="108px" width="192px"
                 src="https://avatars.mds.yandex.net/get-altay/1246719/2a00000163ca74c0701db06b5d1de92cd1ca/XXXL"/><br>
            <span itemprop="name">Пятёрочка</span>
            <div itemscope itemtype="https://schema.org/PostalAddress">
                <span itemprop="postalCode">420012</span>,
                <span itemprop="addressCountry">Россия</span>,
                <span itemprop="addressLocality">г. Казань</span>,
                <span itemprop="streetAddress">ул. Маяковского, 27</span>
            </div>
            <h3>Время работы:</h3>
            <time itemprop="openingHours" datetime="Mo-Su 8:00-22:00">Понедельник-Воскресение 8:00-22:00</time>
        </div>
    </li>

    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <meta itemprop="position" content="2"/>
        <div itemscope itemtype="https://schema.org/Store">
            <img itemscope itemprop="image" height="108px" width="192px"
                 src="https://avatars.mds.yandex.net/get-altay/492546/2a000001600b7174ed6fe1b32f6aa9b5b4e9/XXXL"/><br>
            <span itemprop="name">Пятёрочка2</span>
            <div itemscope itemtype="https://schema.org/PostalAddress">
                <span itemprop="postalCode">420111</span>,
                <span itemprop="addressCountry">Россия</span>,
                <span itemprop="addressLocality">г. Казань</span>,
                <span itemprop="streetAddress">улица Пушкина, 19</span>
            </div>
            <h3>Время работы:</h3>
            <time itemprop="openingHours" datetime="Mo-Su 8:00-22:00">Понедельник-Воскресение 8:00-22:00</time>
        </div>
    </li>

    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <meta itemprop="position" content="3"/>
        <div itemscope itemtype="https://schema.org/Store">
            <img itemscope itemprop="image" height="108px" width="192px"
                 src="https://avatars.mds.yandex.net/get-altay/932730/2a00000163f21da95260233ae3f548de169c/XXXL"/><br>
            <span itemprop="name">Пятёрочка3</span>
            <div itemscope itemtype="https://schema.org/PostalAddress">
                <span itemprop="postalCode">420111</span>,
                <span itemprop="addressCountry">Россия</span>,
                <span itemprop="addressLocality">г. Казань</span>,
                <span itemprop="streetAddress">ул. Жуковского, 8/50</span>
            </div>
            <h3>Время работы:</h3>
            <time itemprop="openingHours" datetime="Mo-Su 8:00-23:00">Понедельник-Воскресение 8:00-23:00</time>
            <meta itemprop="position" content="3"/>
        </div>
    </li>
</ol>
</body>
</html>
